```csharp
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio files
*.user
*.userosscache
*.suo
*.csproj.user
*.vbproj.user
*.vcxproj.user
.vs/
.vscode/

# ASP.NET Core
bin/
obj/
out/

# Log files
*.log

# User-specific files
.suo
.user
.userosscache
.lock
```